<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MortgageTransfer_FLUW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MortgageTransfer_FLUW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MortgageTransfer_FLUW.Properties.Settings.TSGConnectionString"
      connectionString="Data Source=shgatldb4;Initial Catalog=TSGProduction;User ID=tsguser;Password=P@$$w0rd;"
      providerName="System.Data.SqlClient" />
    <add name="MortgageTransfer_FLUW.Properties.Settings.ProadNextConnectionString"
      connectionString="Data Source=shgatldb4;Initial Catalog=TSGProdNext;User ID=tsguser;Password=P@$$w0rd;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <MortgageTransfer_FLUW.Properties.Settings>
      <setting name="EmailFrom" serializeAs="String">
        <value />
      </setting>
      <setting name="SMTPHost" serializeAs="String">
        <value />
      </setting>
    </MortgageTransfer_FLUW.Properties.Settings>
  </userSettings>
  <!--<applicationSettings>
    <MortgageTransfer_FLUW.Properties.Settings>
      <setting name="TimerTickInMinut" serializeAs="string">
        <value>1</value>
      </setting>
    </MortgageTransfer_FLUW.Properties.Settings>
  </applicationSettings>-->
  <applicationSettings>
    <MortgageTransfer_FLUW.Properties.Settings>
      <setting name="TimerTickInMinut" serializeAs="String">
        <value>1</value>
      </setting>
    </MortgageTransfer_FLUW.Properties.Settings>
  </applicationSettings>
</configuration>